[submodule "third_party/executor"]
	path = third_party/executor
	url = https://github.com/Linductor-alkaid/executor.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
